.DS_Store
node_modules
/dist
/dist_public
/.certs

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
/public/db.php
/public/XTZ_to_USD.php
.idea
.vscode
.htpasswd
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
